[submodule "dracula-vim-theme"]
	path = vim/.vim/pack/themes/start/dracula
	url = git@github.com:dracula/vim.git
	branch = master
[submodule "dracula-blender-theme"]
	path = blender/.themes/dracula-blender
	url = git@github.com:dracula/blender.git
	branch = master
[submodule "dracula-freecad-theme"]
	path = freecad/.themes/dracula-freecad
	url = git@github.com:dracula/freecad.git
	branch = master
[submodule "dracula-xournalpp-theme"]
	path = xournalpp/.themes/dracula-xournalpp
	url = git@github.com:dracula/xournalpp.git
	branch = master
[submodule "dracula-gtk-theme"]
	path = gtk/.themes/dracula-gtk
	url = git@github.com:dracula/gtk.git
	branch = master
[submodule "dracula-fish-theme"]
	path = fish/.themes/dracula-fish
	url = git@github.com:dracula/fish.git
	branch = master
[submodule "dracula-kitty-theme"]
	path = kitty/.themes/dracula-kitty
	url = git@github.com:dracula/kitty.git
	branch = master
[submodule "dracula-tty-theme"]
	path = tty/.themes/dracula-tty
	url = git@github.com:dracula/tty.git
	branch = master
[submodule "xmonad"]
	path = xmonad/.xmonad
	url = ../xmonad.git
	branch = master
[submodule "dwm-flexipatch"]
	path = dwm/.config/dwm-flexipatch
	url = ../dwm-flexipatch.git
	branch = master
[submodule "chemacs"]
	path = emacs/.config/emacs
	url = git@github.com:plexus/chemacs2.git
	branch = main
[submodule "personal-emacs"]
	path = emacs/.config/personal-emacs
	url = ../emacs.git
	branch = main
[submodule "doom-emacs"]
	path = emacs/.config/doom-emacs
	url = git@github.com:hlissner/doom-emacs.git
	branch = master
[submodule "doom-emacs-config"]
	path = emacs/.config/doom-emacs-config
	url = ../doom-emacs-config.git
	branch = master
[submodule "dracula-zathura-theme"]
	path = zathura/.config/zathura
	url = git@github.com:dracula/zathura.git
	branch = master
[submodule "dracula-gimp-theme"]
	path = gimp/.themes/dracula-gimp
	url = git@github.com:dracula/gimp.git
	branch = master
[submodule "awesome"]
	path = awesome/.config/awesome
	url = ../awesome.git
	branch = main
[submodule "hyprland"]
	path = hyprland/.config/hypr
	url = ../hyprland.git
	branch = main
[submodule "dracula-qt5-theme"]
	path = qt5/.themes/dracula-qt5
	url = git@github.com:dracula/qt5.git
	branch = master
[submodule "eww"]
	path = eww/.config/eww
	url = ../eww.git
[submodule "tpm"]
	path = tmux/.tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
	branch = master
[submodule "tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = git@github.com:tmux-plugins/tmux-sensible.git
	branch = master
[submodule "dracula-tmux-theme"]
	path = tmux/.tmux/plugins/tmux
	url = git@github.com:dracula/tmux.git
	branch = master
[submodule "dwl"]
	path = dwl/.config/dwl
	url = ../dwl.git
	branch = main
[submodule "dracula-calibre-theme"]
	path = calibre/.themes/dracula-calibre
	url = git@github.com:dracula/calibre.git
	branch = main
[submodule "mangowc"]
	path = mangowc/.config/mango
	url = ../mangowc.git
	branch = main
[submodule "dracula-beeper"]
	path = beeper/.themes/dracula-beeper
	url = git@github.com:dracula/beeper.git
