fish/.config/fish/fish_variables
qt5/.config/qt5ct/qt5ct.conf

xournalpp/.config/xournalpp/
!xournalpp/.config/xournalpp/toolbar.ini

autorandr/.config/autorandr/
!autorandr/.config/autorandr/postswitch

vim/.vim/.netrwhist

vscode/.config/Code
!vscode/.config/Code/User/settings.json
!vscode/.config/Code/User/keybindings.json
