! Colors
#define FOREGROUND #F8F8F2
#define BACKGROUND #282A36
#define BLACK1     #000000
#define BLACK2     #4D4D4D
#define WHITE1     #E6E6E6
#define WHITE2     #BFBFBF
#define RED1       #FF5555
#define RED2       #FF6E67
#define GREEN1     #50FA7B
#define GREEN2     #5AF78E
#define YELLOW1    #F1FA8C
#define YELLOW2    #F4F99D
#define PURPLE1    #BD93F9
#define PURPLE2    #CAA9FA
#define PINK1      #FF79C6
#define PINK2      #FF92D0
#define CYAN1      #8BE9FD
#define CYAN2      #9AEDFE
#define ORANGE     #FFB86C

! Dracula Xresources Palette
*.foreground: FOREGROUND
*.background: BACKGROUND
*.color0:     BLACK1
*.color8:     BLACK2
*.color1:     RED1
*.color9:     RED2
*.color2:     GREEN1
*.color10:    GREEN2
*.color3:     YELLOW1
*.color11:    YELLOW2
*.color4:     PURPLE1
*.color12:    PURPLE2
*.color5:     PINK1
*.color13:    PINK2
*.color6:     CYAN1
*.color14:    CYAN2
*.color7:     WHITE2
*.color15:    WHITE1
*.color16:    ORANGE

! System76 Oryx Pro 7 DPI Parameters
#define DPI 96
#define BAR_HEIGHT 25
#define MODULE_MARGIN 1
#define MODULE_PADDING 2
#define TRAY_MAXSIZE 15
#define TRAY_SCALE 1
#define BORDER_SIZE 2
#define INNER_GAPS 20
#define OUTER_GAPS 10
#define MAXLEN 50
#define CURSOR_SIZE 16

! Polybar
polybar.bar-height:    BAR_HEIGHT
polybar.module-margin: MODULE_MARGIN
polybar.tray-maxsize:  TRAY_MAXSIZE
polybar.tray-scale:    TRAY_SCALE
polybar.maxlen:        MAXLEN

! Dunst
dunst.geometry-x:           0
dunst.geometry-y:           BAR_HEIGHT
dunst.sep-height:           BORDER_SIZE
dunst.padding:              OUTER_GAPS
dunst.horiz-padding:        OUTER_GAPS
dunst.max-icon-size:        DPI
dunst.frame-width:          BORDER_SIZE
dunst.low-background:       BACKGROUND
dunst.low-foreground:       FOREGROUND
dunst.low-frame:            GREEN1
dunst.normal-background:    BACKGROUND
dunst.normal-foreground:    FOREGROUND
dunst.normal-frame:         GREEN1
dunst.critical-background:  RED1
dunst.critical-foreground:  FOREGROUND
dunst.critical-frame:       GREEN1

! Display Scaling
*.dpi: DPI
Xcursor.size: CURSOR_SIZE
