! Colors
#define FOREGROUND #F8F8F2
#define BACKGROUND #282A36
#define BLACK1     #000000
#define BLACK2     #4D4D4D
#define WHITE1     #E6E6E6
#define WHITE2     #BFBFBF
#define RED1       #FF5555
#define RED2       #FF6E67
#define GREEN1     #50FA7B
#define GREEN2     #5AF78E
#define YELLOW1    #F1FA8C
#define YELLOW2    #F4F99D
#define PURPLE1    #BD93F9
#define PURPLE2    #CAA9FA
#define PINK1      #FF79C6
#define PINK2      #FF92D0
#define CYAN1      #8BE9FD
#define CYAN2      #9AEDFE
#define ORANGE     #FFB86C

! Dracula Xresources Palette
*.foreground: FOREGROUND
*.background: BACKGROUND
*.color0:     BLACK1
*.color8:     BLACK2
*.color1:     RED1
*.color9:     RED2
*.color2:     GREEN1
*.color10:    GREEN2
*.color3:     YELLOW1
*.color11:    YELLOW2
*.color4:     PURPLE1
*.color12:    PURPLE2
*.color5:     PINK1
*.color13:    PINK2
*.color6:     CYAN1
*.color14:    CYAN2
*.color7:     WHITE2
*.color15:    WHITE1
*.color16:    ORANGE

! System76 Oryx Pro 7 DPI Parameters
#define DPI 96
#define BAR_HEIGHT 25
#define MODULE_MARGIN 0
#define MODULE_PADDING 0
#define MODULE_DWM_PADDING 2
#define TRAY_MAXSIZE 25
#define TRAY_SCALE 1
#define BORDER_SIZE 2
#define INNER_GAPS 20
#define OUTER_GAPS 10
#define MAXLEN 25
#define CURSOR_SIZE 16

! DWM
dwm.normbordercolor: BLACK2
dwm.normbgcolor:     BACKGROUND
dwm.normfgcolor:     FOREGROUND
dwm.selbordercolor:  PURPLE1
dwm.selbgcolor:      PURPLE1
dwm.selfgcolor:      BACKGROUND
dwm.borderpx:        BORDER_SIZE
dwm.gappih:          INNER_GAPS
dwm.gappiv:          INNER_GAPS
dwm.gappoh:          OUTER_GAPS
dwm.gappov:          OUTER_GAPS

! Polybar
polybar.bar-height:         BAR_HEIGHT
polybar.module-margin:      MODULE_MARGIN
polybar.module-padding:     MODULE_PADDING
polybar.module-dwm-padding: MODULE_DWM_PADDING
polybar.tray-maxsize:       TRAY_MAXSIZE
polybar.tray-scale:         TRAY_SCALE
polybar.maxlen:             MAXLEN

! Display Scaling
*.dpi: DPI
Xcursor.size: CURSOR_SIZE
