/* Notifications
 * - Appname: label.deadd-noti-center.notification.appname
 * - Textbody: label.deadd-noti-center.notification.body
 * - Notification title: label.deadd-noti-center.notification.title
 * - Image of a notification: image.deadd-noti-center.notification.image
 * - Appicon: image.deadd-noti-center.notification.icon
 */

/* Notifications in the notification center
 * - Appname: label.deadd-noti-center.in-center.appname
 * - Textbody: label.deadd-noti-center.in-center.body
 * - Notification title: label.deadd-noti-center.in-center.title
 * - Notification time: label.deadd-noti-center.in-center.time
 * - Image of a notification: image.deadd-noti-center.in-center.image
 * - Appicon: image.deadd-noti-center.in-center.icon
 * - Close button on notification: button.deadd-noti-center.in-center.button-close
 */

/* Notification-center
 * - The big time at the top: label.deadd-noti-center.noti-center.time
 * - The date text: label.deadd-noti-center.noti-center.date
 * - “Delete all” Button: label.deadd-noti-center.noti-center.delete-all
 */

/* Examples
 * image.deadd-noti-center.notification.icon,
 * label.deadd-noti-center.notification.appname,
 * image.deadd-noti-center.in-center.icon,
 * label.deadd-noti-center.in-center.appname {
 *     opacity: 0
 * }
 * .deadd-noti-center {
 *     font-family: monospace;
 * }
 */

/* :root {
	--color-foreground: #f8f8f2;
	--color-background: #282a36;
	--color-black1: #000000;
	--color-black2: #4d4d4d;
	--color-white1: #e6e6e6;
	--color-white2: #bfbfbf;
	--color-red1: #ff5555;
	--color-red2: #ff6e67;
	--color-green1: #50fa7b;
	--color-green2: #5af78e;
	--color-yellow1: #f1fa8c;
	--color-yellow2: #f4f99d;
	--color-purple1: #bd93f9;
	--color-purple2: #caa9fa;
	--color-pink1: #ff79c6;
	--color-pink2: #ff92d0;
	--color-cyan1: #8be9fd;
	--color-cyan2: #9aedfe;
	--color-orange: #ffb86c;
} */
