.blurredBG, #main_window, .blurredBG.low, .blurredBG.normal {
    background: rgba(40, 42, 54, 1.0);
    border: 2px #50fa7b solid;
    border-radius: 10px;
}

.noti-center.time {
    font-size: 32px;
    margin-left: 10px;
    margin-right: 10px;
}

.title {
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

.body {
    font-weight: normal;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

.appname {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

.time {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
}

.blurredBG.notification {
    background:  rgba(40, 42, 54, 1.0);
    border: 2pt #50fa7b solid;
    border-radius: 10px;
}

.blurredBG.notification.critical {
    background: rgba(255, 85, 85, 1.0);
    border: 2pt #50fa7b solid;
    border-radius: 10px;
}

.notificationInCenter.critical {
    background: rgba(255, 85, 85, 1.0);
}

label {
    color: #f8f8f2;
}

label.notification {
    color: #f8f8f2;
}

label.critical {
    color: #f8f8f2;
}
.notificationInCenter label.critical {
    color: #f8f8f2;
}

button {
    border-radius: 10px;
    background:  rgba(40, 42, 54, 1.0);
    border-width: 2px;
    color: #f8f8f2;
}

button:hover {
    border-radius: 10px;
    background: rgba(68, 71, 90, 0.8);
    border-width: 2px;
    border-color: #50fa7b;
    color: #282a36;
}

.userbutton {
    border-radius: 10px;
    background:  rgba(40, 42, 54, 1.0);
    border-width: 2px;
}

.userbutton:hover {
    border-radius: 10px;
    background: rgba(68, 71, 90, 1.0);
    border-width: 2px;
    border-color: #50fa7b;
}

.userbuttonlabel {
    color: #f8f8f2;
    font-size: 12px;
}

.userbuttonlabel:hover {
    color: #f8f8f2;
}

button.buttonState1 {
    background: rgba(20,0,0,0.5);
}

.userbuttonlabel.buttonState1 {
    color: #fff;
}

button.buttonState1:hover {
    background: rgba(20,0,0, 0.4);
}

.userbuttonlabel.buttonState1:hover {
    color: #111;
}

button.buttonState2 {
    background: rgba(255,255,255,0.3);
}

.userbuttonlabel.buttonState2 {
    color: #111;
}

button.buttonState2:hover {
    background: rgba(20,0,0, 0.3);
}

.userbuttonlabel.buttonState2:hover {
    color: #000;
}

image.deadd-noti-center.notification.image {
    margin-left: 10px;
}
