[Unit]
Description=Night light applications need to get a (geo)clue

[Service]
ExecStart=/usr/libexec/geoclue-2.0/demos/agent

[Install]
WantedBy=default.target
